/* tr {
  border: solid black 1px;
} */

#app {
  height: 100%;
  width: 100%;
  margin: 16px;
}

table {
  width: 100%;
  border-collapse:separate;
  border-spacing:0 15px;
}

th {
  text-align:center;
}

td {
  text-align:center;
  border: 1px solid black;
  padding: 5px
}
